version: '3'

services:
  react:
    container_name: react
    build:
      context: .
      dockerfile: Dockerfile-devel
    volumes:
      - /app
      - /app/node_modules
    ports:
      - 3001:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true